<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page </title>
</head>
<body>
<form name="f" action="/process_login" method="post">
    <div><label for="username"> User Name : <input type="text" name="username" id="username"/> </label></div>
    <div><label for="password"> Password: <input type="password" name="password" id="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
<div th:if="${param.error}" style="color: red">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
</body>
</html>
