<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Сотрудники</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
<br/>
<div class="container" style="max-width: 500px">
    <div class="text-center border py-2 mb-3">
        <h5 class="mb-0">Engineers <span class="badge bg-secondary" th:text="${engineers.size()}"></span></h5>
    </div>
    <ul class="list-group">
        <a th:each="engineer : ${engineers}" th:href="@{/engineers/{id}(id=${engineer.id})}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <div>
                <span class="mr-2" th:text="${engineer.getFirstName() + ' ' + engineer.getLastName()}"></span>
                <span class="badge badge-primary" th:text="${engineer.getDiscipline()}"></span>
                <span th:text="${engineer.getCollisions().size()}" th:class="${engineer.getCollisions().size() == 0 ? 'badge badge-success' : 'badge badge-danger'}"></span>
            </div>
            <span th:text="${'@' + engineer.getTelegramUsername()}"></span>
        </a>
    </ul>
</div>






<a href="/engineers/new">Add new</a>
<br/>
<a href="/main">Back to main</a>
</body>
</html>