<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Search collisions</title>
</head>
<body>

<form th:method="POST" th:action="@{/collisions/search}">
  <label for="query">Enter : </label>
  <input type="text" id="query" name="query"/>
  <br/>
  <input type="submit" value="Искать!"/>
</form>

<div th:if="${collisions}">
  <div th:if="${collisions.isEmpty()}">
    <span>No collisions for this discipline</span>
  </div>

  <div th:each="collision : ${collisions}">
    <p th:text="${collision.getFullInfoString()}">collision</p>

    <div th:if="${collision.getEngineer() != null}">
      <span>Collision is assigned to: </span> <span th:text="${collision.getEngineer().getFullNameWithDiscipline()}">Engineer Name</span>
    </div>

    <div th:if="${collision.getEngineer() == null}">
      <span>Collision is not assigned to anybody</span>
    </div>

    <hr/>
  </div>
</div>

</body>
</html>