.navbar {
    padding: 0 10px;
}

body {
    background-color: #eee
}

.card {
    border: none;
    border-radius: 10px
}

*.icon-dark {
    color: grey;
}

.message {
    position: absolute;
    top: 40px;
    right:5px;
}

.search {
    position: relative;
}

.search input {
    text-indent: 25px;
    border: 2px solid #d6d4d4;
}

.search input:focus {
    box-shadow: none;
    border: 1px solid grey;
}

.search .fa-search {
    position: absolute;
    top: 12px;
    left: 10px;
}

.search button {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 80px;
    background: grey;
}

.size-select {
    width: 100px;
    color: #495057;
    vertical-align: middle;
    padding: 6px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

table {
    line-height: 20px;
    font-size: medium;
}

.btn-table {
    background-color: #afbdcc; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    /*padding: 2px 2px; !* Some padding *!*/
    font-size: smaller; /* Set a font size */
    cursor: pointer;
    border-radius: 5px;
    font-palette: dark;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}

tr {
    height: 50px; /* Задаем высоту строки */
}

.progress {
    height: 10px;
    border-radius: 10px
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.badge span {
    background-color: #fffbec;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #fed85d;
    justify-content: center;
    align-items: center
}