<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>HTML Upload Page</title>
</head>
<body>
<h1>HTML Upload Page</h1>
<form action="/file" method="post" enctype="multipart/form-data">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
  <label for="file">Select HTML file:</label>
  <input type="file" id="file" name="file" accept=".html">
  <br><br>
  <input type="submit" value="Upload">
</form>
</body>
</html>